*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width:100%;
  position:relative;
}

section {
  margin:0 auto;
  height:100%;
  width:100%;
  background-color:#dadada;
}

.emphasis {
  font-style:italic;
}

div {
  float:left;
  margin:0 auto;
  padding:10px;
  background-color:#dadada;
  text-align:center;
}

.container h1 {
  letter-spacing:2px;
  text-transform:uppercase;
  font-size:1em;
  text-align:center;
}


.previewbaku img, .previewlondon img, .previewmadrid img, .previewrome img {
  width:30em;
  height:30em;
}

.previewbaku, .previewlondon, .previewmadrid, .previewrome {
  margin:0 auto;
  text-align:center;
}

.previewbaku h1, .previewlondon h1, .previewmadrid h1, .previewrome h1 {
  letter-spacing:0px;
  font-size:2em;
  position:relative;
  top:2em;
  left:-2em;
  text-transform:none;
  font-family:times;
}

@media screen and (min-width: 375px) {
  .previewbaku img, .previewlondon img, .previewmadrid img, .previewrome img {
    width:10em;
    height:10em;
  }

  .previewbaku, .previewlondon, .previewmadrid, .previewrome {
    margin:0 auto;
    text-align:center;
  }

  .previewbaku h1, .previewlondon h1, .previewmadrid h1, .previewrome h1 {
    letter-spacing:0px;
    font-size:1.5em;
    position:relative;
    top:2em;
    left:-1.5em;
    text-transform:none;
    font-family:times;
  }
}

@media screen and (min-width: 768px) {
  .previewbaku img, .previewlondon img, .previewmadrid img, .previewrome img {
    width:15em;
    height:15em;
  }

  .previewbaku, .previewlondon, .previewmadrid, .previewrome {
    margin:0 auto;
    text-align:center;
  }

  .previewbaku h1, .previewlondon h1, .previewmadrid h1, .previewrome h1 {
    letter-spacing:0px;
    font-size:2em;
    position:relative;
    top:2em;
    left:-1.8em;
    text-transform:none;
    font-family:times;
  }
}

@media screen and (min-width: 1199px) {
  .previewbaku img, .previewlondon img, .previewmadrid img, .previewrome img {
    width:20em;
    height:20em;
  }

  .previewbaku, .previewlondon, .previewmadrid, .previewrome {
    margin:0 auto;
    text-align:center;
  }

  .previewbaku h1, .previewlondon h1, .previewmadrid h1, .previewrome h1 {
    letter-spacing:0px;
    font-size:2em;
    position:relative;
    top:2em;
    left:-2em;
    text-transform:none;
    font-family:times;
  }
}
